*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
.main-cont{
    width:100%;
    height: 100vh;
    display: flex;

}


.box{
    width:100px;
    height: 100px;
    /* border: solid 1px red; */
    opacity: 1;

    
    
    position:relative;
    top:400px;
    left:400px;
    animation-name: anim;
    animation-duration: 4s;
    /* animation-iteration-count: infinite; */
   animation-timing-function: cubic-bezier(.78,1.87,.07,-0.51);
}

.b1{
    animation-delay:1s;
}

.b2{
    animation-delay:2s;
}

.b3{
    animation-delay: 3s;
}

h1{
    font-size: 70px;
}
@keyframes anim {
    
    0%{
        top:-50px;
        left:-50px;
        opacity: 0;
    }

    25%{
        top:10px;
        left:200px;
        opacity: 0.4;
    }

     50%{
        top:200px;
        left:200px;
        opacity: 0.6;
        
    }

     75%{
        top:200px;
        left:400px;
        opacity: 0.8;
        
    }

     100%{
        top:400px;
        left:400px;
        opacity:1;
        transform: rotate(360deg);
      
    }



}


